extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th Name
        th status
        th creator
        th assignedTo
    tbody
      each task in tasks
        tr
          td= task.name
          td= task.Status.name
          td= task.Creator.fullName
          td= task.AssignedTo.fullName
          td
            a(href=urlFor('editTask', task.id)) Edit
            br
            a(href=urlFor('editTask', task.id) data-method='delete' rel='nofollow'
            data-confirm='Are you sure you want to delete the task?') Delete
