extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th Name
        th status
        th creator
        th assignedTo
    tbody
      each task in tasks
        tr
          td= task.name
          td= task.Status.name
          td= task.Creator.fullName
          td= task.AssignedTo.fullName
          td
            .a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href=urlFor('profile')) Edit task
                a.dropdown-item(href=urlFor('changePassword')) Delete task
